body {
  background: linear-gradient(to right, #001f3f, rgb(0, 100, 139));
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  align-items: center;
}

.name {
  font-size: 50px;
  margin-left: 50px;
}

.selfie {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease; /* Add transition property */
}

.selfie:hover {
  transform: scale(0.8);
}


.favorite-animes {
  display: flex;
  border: solid; 
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-evenly;
}

.anime {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  transition: transform 0.15s ease; 
}

.anime:hover {
  transform: scale(0.95);
}


.anime-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.anime-name {
  width: 200px;
}