.thumnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.video-link {
  text-decoration: none;
  color: black;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 20px;
}

.channel-pic-wrap {
  position: relative;
  display: flex;
}

.channel-pic-wrap .tooltip {
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  margin-top: 5px;
  display: flex;
  height: 65px;
  width: 210px;
  border-radius: 5px;
  align-items: center;
  opacity: 0;
  z-index: 300;
  pointer-events: none;
  bottom: -70px;
}

.channel-pic-wrap:hover .tooltip {
  opacity: 1;
}

.tooltip-author-pic {
  height: 50px;
  margin-left: 15px;
  border-radius: 25px;
}

.tooltip-info {
  font-family: Roboto, Arial;
  margin-left: 5px;
  line-height: 20px;
}

.channel-name {
  font-weight: bold;
  font-size: 15px;
}

.subscriber-count {
  font-size: 13px;
  color: grey;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96,96,96);
}

.video-author {
  margin-bottom: 4px;
}

.channel-link {
  text-decoration: none;
  color: rgb(96,96,96);
}

.video-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}